# your projects settings

WF_HOST       =     "example.webfaction.com"
PROJECT_NAME  =     "foo"
REPOSITORY    =     "git@github.com:joe/foo.git"
REPOSITORY_MEDIA = "if you have an other repo for media git@github.com:joe/foo-media.git"
USER          =     "joe"
PASSWORD      =     "secret"
SUPERVISOR_PASSWORD = "supervisor secret"
SETTINGS_SUBDIR =   "foo"
VIRTUALENVS   =     "/path/to/virtualenvs"
